- var single = {1:'translateX(20px)',2:'translateY(20px)',3:'translateZ(20px)',4:'translate3d(20px,20px,20px)',5:'rotateX(20px)',6:'rotateY(20px)',7:'rotateZ(20px)',8:'rolate3d(1,1,1,45deg)',9:'scaleX(1.2)',10:'scaleY(1.2)',11:'scaleZ(1.2)',12:'scale3d(1.2,1.2,1.2)'}
- var double = {1:'translateX(20px) rolate3d(20px,20px,20px,90deg)',2:'translateY(20px) rolate3d(20px,20px,20px,90deg)',3:'translateZ(20px) rolate3d(20px,20px,20px,90deg)',4:'translate3d(20px,20px,20px) rolate3d(20px,20px,20px,90deg)',5:'scaleX(1.2) rolate3d(20px,20px,20px,90deg)',6:'scaleY(1.2) rolate3d(20px,20px,20px,90deg)',7:'scaleZ(1.2) rolate3d(20px,20px,20px,90deg)',8:'scale3d(1.2,1.2,1.2) rolate3d(20px,20px,20px,90deg)'}
doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    title Css 3D Style
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', type='text/css', href='custom.css')
  body
    #warp
      .container
        .row
          aside#author.col.xx12.s3.l4.xx-ng.xx-sameh
            section.row
              .col.xx12.x3.s12
                figure
                  img.xx-parallelogram(alt='', src='http://1.gravatar.com/avatar/d2cddbe46278bf25a41b9479af20cf8d?s=250&d=wavatar&r=g')
                #social-icon.xx-hide.s-show
                  a(href='http://dkbo.tw')
                    i#facebook.fa.fa-pencil
                  a(href='http://www.facebook.com/lu.dkbo')
                    i#facebook.fa.fa-facebook
                  a(href='http://codepen.io/dkbo/')
                    i#codepen.fa.fa-codepen
                  a(href='https://github.com/dkbo/dkbo.github.io')
                    i#codepen.fa.fa-github-alt
              .col.xx12.x9.s12
                p.author-description.xx-ng
                  | 小小前端工程師，做出的網頁以兼容電腦、手機、平板等裝置為己任，不斷的接受新知並改良開發工具。
          section.col.xx12.s9.l8.xx-ng.xx-sameh.default.xx-nb
            h1.xx-p.xx-ng Css 3D 樣式圖表
            h2.xx-p 前言
            p.xx-p 昨天花了一天把 3D 屬性的使用方法及觀念給弄個大概，後悔以前沒有學好線性代數、立體公式、角度等等..找時間要翻出來在算一算了。現今比較新的瀏覽器雖然支援這些屬性，但是每種瀏覽器看的效果又有一些不同，這絕對是被客戶給否定的。更別說還有很多骨董電腦的存在了!
            
            h2.xx-p.xx-ng 單一屬性
            p.xx-p 以下是使用了 translate3d(位移)、rolate3d(旋轉)、scale3d(縮放)的屬性及其單一屬性X、Y、Z，滑鼠移過去可以看到原始位置
            .crmera
               each get, index in single
                 .single.col.xx6.s4.xx-p
                   .space.xx-p
                     .box 
                       span=index+'.'+get
            h2.xx-p.xx-ng 雙重屬性(一)
            p.xx-p 如果運用了兩種不同的屬性呢?效果會變成如何呢?以下幾個 Box 在第一個屬性作用後再追加旋轉 90deg
            .crmera
               each get, index in double
                 .double.col.xx6.s4.xx-p
                   .space.xx-p
                     .box 
                       span=index+'.'+get
              .clearfix
            h2.xx-p.xx-ng 立體
            p.xx-p 比較複雜的 3D 圖需要用到三角函數及線性代數了~小弟只會比較簡單的...
            p(data-height="600" data-theme-id="4234" data-slug-hash="mJzQLB" data-default-tab="result" data-user="dkbo" class='codepen' style="hieght: 600px")
              |See the Pen 
              a(href='http://codepen.io/dkbo/pen/mJzQLB/')
                |3D control panel 
              |by dkbo (
              a(href='http://codepen.io/dkbo') @dkbo
              |) on 
              a(href='http://codepen.io') CodePen
            h2.xx-p.xx-ng 立體(2)
            p.xx-p 如果把長方體規律的排序並對齊之後效果就比較顯著了~
            p(data-height="600" data-theme-id="4234" data-slug-hash="MwPpKa" data-default-tab="result" data-user="dkbo" class='codepen' style="hieght: 600px")
              |See the Pen 
              a(href='http://codepen.io/dkbo/pen/MwPpKa/')
                |3D control panel 
              |by dkbo (
              a(href='http://codepen.io/dkbo') @dkbo
              |) on 
              a(href='http://codepen.io') CodePen
            h2.xx-p.xx-ng 立體控制板(2)
            p.xx-p 可以試試看上下左右鍵、滑鼠左右鍵、滑鼠滾輪試試看!(目前只可用電腦控制)
            p(data-height="600" data-theme-id="4234" data-slug-hash="JdmOgW" data-default-tab="result" data-user="dkbo" class='codepen' style="hieght: 600px")
              |See the Pen 
              a(href='http://codepen.io/dkbo/pen/JdmOgW/')
                |3D control panel 
              |by dkbo (
              a(href='http://codepen.io/dkbo') @dkbo
              |) on 
              a(href='http://codepen.io') CodePen
    script(async src="//assets.codepen.io/assets/embed/ei.js")
    script(type='text/javascript', src='all.js')

