doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/custom.css', media='screen')
    title DKBO'RPG Resume
    meta(name='author', content='DKBO')
    meta(name='description', content='以 RPG 製作大師的風格來瀏覽網頁資訊，網站主要項目意在呈現個人簡歷，並把相關作品及技術呈現至遊戲中。網站由 ReactJs 所構成，隨著經驗的累積會陸續把技術應用在此網頁上。')
    META(name="KeyWords" content="ReactJs,遊戲製作大師,DKBO,Resume,履歷表,RPG")
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0' )
    meta(property="og:title" content="Web RPG Resume (實作線上 RPG 履歷)")
    meta(property="og:description" content="以 RPG 製作大師的風格來瀏覽網頁資訊，網站主要項目意在呈現個人簡歷，並把相關作品及技術呈現至遊戲中。網站由 ReactJs 所構成，隨著經驗的累積會陸續把技術應用在此網頁上。")
    meta(property="og:url" content="http://dkbo.github.io")
    meta(property="og:site_name" content="DKBO's RPG RESUME")
    meta(property="og:image" content="http://i0.wp.com/dkbo.tw/wp-content/uploads/2015/08/rpg.jpg")
    meta(property="og:locale" content="zh_TW")
    meta(property="og:type" content="website")  
    script(src='js/react-0.1.4bate1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43399470-5', 'auto');
      ga('send', 'pageview');
  body
    script(src='js/all.js')
    script(type="text/javascript").
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//dkbo-rpg.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    
      
