doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='css/style.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/custom.css', media='screen')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css')
    title DKBO'Git Space
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    #wrap
      .container.xx-np
        section#main
          #main_box
            a(href="https://github.com/dkbo/dkbo.github.io")
              h1.title.xx-center.xx-ng.importfont
                span DKBO's 
                |Github  
            p
              |歡迎來到此處觀摩，在這將會收藏著我所有公開的開發程式、網頁範例等等，目的為提升專案管理，及開發網站時所接觸到的問題等等。
            p.xx-center
              span.icon(move="about")
                i.fa.fa-thumbs-o-up
                span About
              span.icon(move="skill")  
                i.fa.fa-compass
                span Skill
              span.icon(move="works")
                i.fa.fa-laptop
                span Works
              span.icon(move="contact")
                i.fa.fa-comment
                span Contact 
        section#about
          .row.xx-ng
            .col.xx5.xx5o1.s3o2.s3.l3o2.l3.xx-ng.xx-np 
              img(src="/images/aboutbg.jpg" width="100%" height="100%")
              .social.xx-center.xx-show.s-hide
                a(href='http://dkbo.tw')
                  i#facebook.fa.fa-pencil
                a(href='http://www.facebook.com/lu.dkbo')
                  i#facebook.fa.fa-facebook
                a(href='http://codepen.io/dkbo/')
                  i#codepen.fa.fa-codepen
                a(href='http://github.com/dkbo')
                  i#codepen.fa.fa-github-alt  
            .col.xx5.s3.s3.l3.l3.xx-ng.xx-np
                h1.importfont.xx-p.xx-ng About DKBO             
                p.xx-ng.xx-p#about-author 高雄小前端，熟悉基礎語言HTML5，CSS3，Javascript，唯獨美感不足，正朝著網頁美感路線努力中。
                .social.xx-center.xx-hide.s-show
                  a(href='http://dkbo.tw')
                    i#facebook.fa.fa-pencil
                  a(href='http://www.facebook.com/lu.dkbo')
                    i#facebook.fa.fa-facebook
                  a(href='http://codepen.io/dkbo/')
                    i#codepen.fa.fa-codepen
                  a(href='http://github.com/dkbo')
                    i#codepen.fa.fa-github-alt
        section#skill s

        section#works w

        section#contact
          .row.xx-ng
            .col.xx10.xx10o1.x8.x8o2.s6o3.s6
              #contact_box
                h1.title.xx-ng.xx-p.importfont Contact DKBO
                p.xx-ng.xx-p 對於此 Github 有疑問、意見、指導，抑或是合作、教學、發包、工作等...可以用下列方式聯繫我。
                p.xx-ng.xx-p Email : dk880842@gmail.com
                p.xx-ng.xx-p Phone : 0985877499
                p.xx-ng.xx-p LineID : dk880842
    script(type='text/javascript', src='js/all.js')

