doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='css/style.css', media='screen')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', type='text/css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript', src='js/all.js')
    title DKBO'Git Space
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    #wrap
      .container
        .row
          aside#author.col.xx12.s3.l4.xx-ng.xx-sameh
            section.row
              .col.xx6.x3.s12
                div
                  img(alt='', src='http://1.gravatar.com/avatar/d2cddbe46278bf25a41b9479af20cf8d?s=250&d=wavatar&r=g')
                #social-icon.xx-hide.s-show
                  a(href='http://dkbo.tw')
                    i#facebook.fa.fa-pencil
                  a(href='http://www.facebook.com/lu.dkbo')
                    i#facebook.fa.fa-facebook
                  a(href='http://codepen.io/dkbo/')
                    i#codepen.fa.fa-codepen
                  a(href='http://github.com/dkbo')
                    i#codepen.fa.fa-github-alt
              .col.xx6.x9.s12
                p.author-description.xx-ng
                  | 小小前端工程師，做出的網頁必定兼容電腦、手機、平板等裝置。會簡單的後端語言連接資料庫能做出簡易的會員系統、訂單管理系統、物流管理系統等等。正朝著網頁美感路線努力中。
          section.col.xx12.s9.l8.xx-ng.xx-sameh.default.xx-nb
            h1 DKBO's Git
            h3 前言
            p 在這將會收藏著我所有公開的開發程式、網頁範例等等，目的為提升專案管理，及開發網站時所接觸到的問題等等。
            h3 程式集合
            article
              a.col.xx12.s6.primary.xx-p(href='http://dkbo.github.io/canvas-pinter') html5 Canvas 塗鴉牆
