/*
Error: Invalid CP950 character "\xE5"
        on line 11 of d:/GitHub/dkbo.github.io/sass/_variable.sass
        from line 3 of d:/GitHub/dkbo.github.io/sass/style.sass

6: $success: #43ac6a
7: $info: #5bc0de
8: $warning: #e99002
9: $danger: #f04124
10: $area_color: white
11: $font-style: 微軟正黑體
12: $line-height: 1.5
13: $font-size: 16px
14: $xx-width: 96%
15: $x-width: 96%
16: $s-width: 96%

Backtrace:
d:/GitHub/dkbo.github.io/sass/_variable.sass:11
d:/GitHub/dkbo.github.io/sass/style.sass:3
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:299:in `to_tree'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CP950 character \"\xE5\"\A         on line 11 of d:/GitHub/dkbo.github.io/sass/_variable.sass\A         from line 3 of d:/GitHub/dkbo.github.io/sass/style.sass\A \A 6: $success: #43ac6a\A 7: $info: #5bc0de\A 8: $warning: #e99002\A 9: $danger: #f04124\A 10: $area_color: white\A 11: $font-style: 微軟正黑體\A 12: $line-height: 1.5\A 13: $font-size: 16px\A 14: $xx-width: 96%\A 15: $x-width: 96%\A 16: $s-width: 96%"; }
