@import variable
@import compass
@import susy
@import 'compass'
$spriteObject: '/images/rpg_maker_xp.png'
$indexBg : '/images/mainbg.jpg'
*
  +box-sizing(border-box)
ul,li,p
  list-style-type : none
  padding: 0
  margin: 0
html,body,#container
  min-width: 100%
  min-height: 100%
  margin : 0
  width: 100%
  height: 100%
  overflow: hidden
  background: #131313
  font-family: 微軟正黑體
body
  +transform-style(preserve-3d)
mark
  background: #712068
  color: white
a
  color : #23FF2B
kbd,mark
  padding: .1em .2em
  +border-radius(.2em)
kbd
  background: #211F1F
#index
  height: 100%
  width: 100%
  background: url($indexBg)
  background-size: cover
#indexBox,#loadBox,.chat
  background: rgba(37, 69, 168, 0.77)
  +transition(opacity .5s)
#indexBox
  +border-radius(10px)
  border: solid
  color: white
  position: absolute
  bottom: 15%
  left: 50%
  width: 300px
  margin-left: -150px
  padding: 20px
  overflow: hidden
  ul
    li
      font-size: 2rem
      text-align: center
      border: solid transparent
      cursor: pointer
      +transition(border .1s) 
  @media (min-width: 720px)
    width: 400px
    margin-left: -200px 
  a
    color: white
ul
  li.chatSelect
    border: solid transparent
    cursor: pointer
    +transition(border .1s)
    font-size: 1.5rem
    @media (min-width: 720px)
      font-size: 2rem
#map
  position: absolute
  top: 0
  left: 0
#firstCanvas,#secondCanvas,#spritesOpacity,#grid,#fnpc,#snpc,#player
  position: absolute
  top : 0
  left : 0
#grid
  z-index : 3
#firstCanvas,#fnpc
  z-index: 2
#player
  z-index: 1
#secondCanvas,#snpc
  z-index: 0
.chat
  width: 90%
  height: 8.1rem
  position: absolute
  bottom: 1rem
  left: 50%
  margin-left: -45%
  border-radius : 1rem
  border: solid 
  color : white
  font-size : 1.2em
  padding: .5em
  z-index : 2
  p
    margin: 0
    line-height : 1
  ul
    li
      border : solid transparent
      cursor : pointer
  @media (min-width: 720px)
    height: 10.5rem
    font-size : 2rem
#menu
  position: absolute
  top: 10%
  left : 10%
  width: 80%
  height: 80%
  z-index: 5
  #left,#right
    color: white
    background: rgba(37, 69, 168, 0.77)
    border-radius : 1rem
    border: solid
  #left
    padding: 1rem
    overflow: hidden
    @media (min-width: 768px)
      height: 100%  
    ul
      width: 200%
      @media (min-width: 768px)
        width: auto
      li
        display: inline-block
        @media (min-width: 768px)
          display: block
        border: solid transparent
        cursor: pointer
        padding: .2em
        font-weight: bold

  #right
    height: 90%
    overflow : hidden
    @media (min-width: 768px)
      height: 100%
    &Box
      min-height: 100%
      padding: 1rem
      h2:nth-child(1)
        margin-top : 0
      img
        border: solid
#menunav
  position: absolute
  left: 2%
  top: 1%
  z-index: 5
  ul
    li
      background: rgba(37,69,168,0.77)
      +border-radius(.5rem)
      border: solid
      color: #fff
      display: inline-block
      font-size: 1.4em
      padding: .2rem
      cursor: pointer
      
#pimg
  display: none

#load
  width: 200px
  height: 200px
  position: absolute
  top: 50%
  left: 50%
  margin: -100px 0 0 -100px 
  +transform(scale(0.6))
  z-index: 999
  &> div
    top: 80px
    left: 93px
    width: 14px
    height: 40px
    background: #00b2ff
    border-radius: 10px
    position: absolute
  &> div:nth-of-type(1)
    +transform(rotate(0deg)  translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(-0.5s)
  &> div:nth-of-type(2)
    +transform(rotate(30deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(-0.4166666666666667s)
  &> div:nth-of-type(3)
    +transform(rotate(60deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(-0.33333333333333337s)
  &> div:nth-of-type(4)
    +transform(rotate(90deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(-0.25s)
  &> div:nth-of-type(5)
    +transform(rotate(120deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(-0.16666666666666669s)
  &> div:nth-of-type(6)
    +transform(rotate(150deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(-0.08333333333333331s)
  &> div:nth-of-type(7)
    +transform(rotate(180deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(0s)
  &> div:nth-of-type(8)
    +transform(rotate(210deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(0.08333333333333337s)
  &> div:nth-of-type(9)
    +transform(rotate(240deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(0.16666666666666663s)
  &> div:nth-of-type(10)
    +transform(rotate(270deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(0.25s)
  &> div:nth-of-type(11)
    +transform(rotate(300deg) translate(0,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(0.33333333333333337s)
  &> div:nth-of-type(12)
    +transform(rotate(0deg) translate(330,-60px))
    +animation(load 1s linear infinite)
    +animation-delay(0.41666666666666663s)
+keyframes(load)
  0%
    opacity: 1
  100% 
    opacity: 0