doctype html
html(lang='zh-TW')
  head
    meta(charset='UTF-8')
    title Css Framework
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='custom.css', type='text/css')

  body
    #warp
      .container
        .row
          aside#author.col.xx12.s3.l4.xx-ng.xx-sameh
              section.row
                .col.xx6.x3.s12
                  div
                    img.xx-parallelogram(alt='', src='http://1.gravatar.com/avatar/d2cddbe46278bf25a41b9479af20cf8d?s=250&d=wavatar&r=g')
                  #social-icon.xx-hide.s-show
                    a(href='http://dkbo.tw')
                      i#facebook.fa.fa-pencil
                    a(href='http://www.facebook.com/lu.dkbo')
                      i#facebook.fa.fa-facebook
                    a(href='http://codepen.io/dkbo/')
                      i#codepen.fa.fa-codepen
                    a(href='https://github.com/dkbo/dkbo.github.io')
                      i#codepen.fa.fa-github-alt
                .col.xx6.x9.s12
                  p.author-description.xx-ng
                    | 小小前端工程師，做出的網頁必定兼容電腦、手機、平板等裝置。會簡單的後端語言連接資料庫能做出簡易的會員系統、訂單管理系統、物流管理系統等等。正朝著網頁美感路線努力中。
          main.col.xx12.s9.l8.xx-ng.xx-sameh
            section.row.grid 
              .col.xx12
                h2 前言
                p 原本把這 CSS Framework 當作 Gird 再用，這些時日偶而會寫部落格，常常會遇到一些該標示的卻沒辦法標示的例子，原本想在跳回 Bootstrap ，但這就有違初衷。於是乾脆慢慢增加這 Css Framework 的 style。
              .table-responsive.col.xx12
                h2 自定義響應式
                table
                  tr.primary
                    th xx
                    th x
                    th s
                    th m
                    th l
                    th g
                  tr
                    td 全域
                    td >480px
                    td >768px
                    td >992px
                    td >1200px
                    td >1440px
            section.row.grid
              .col.xx12.m6
                h2 預設值
                .col.xx6.s4.xx-center.default
                  div x6 s4 
                .col.xx6.s4.xx-center.default
                  div x6 s4
                .col.xx6.s4.xx-center.default
                  div x6 s4 
                .col.xx6.s4.xx-center.default
                  div x6 s4
                .col.xx6.s4.xx-center.default
                  div x6 s4 
                .col.xx6.s4.xx-center.default
                  div x6 s4
              .col.xx12.m6
                h2 padding: 15px 註記:(* 代表 x , s , m , l)
                .col.xx6.s4.xx-center.xx-p.default
                  div x6 s4
                .col.xx6.s4.xx-center.xx-p.default
                  div x6 s4
                .col.xx6.s4.xx-center.xx-p.default
                  div x6 s4
                .col.xx6.s4.xx-center.xx-p.default
                  div x6 s4
                .col.xx6.s4.xx-center.xx-p.default
                  div x6 s4 
                .col.xx6.s4.xx-center.xx-p.default
                  div x6 s4
            section.col.xx12.m6
              h2 底下的元素顯示間隔
              .col.xx6.s4.xx-center
                .default x6 s4
              .col.xx6.s4.xx-center
                .default x6 s4 
              .col.xx6.s4.xx-center
                .default x6 s4
              .col.xx6.s4.xx-center
                .default x6 s4
              .col.xx6.s4.xx-center
                .default x6 s4 
              .col.xx6.s4.xx-center
                .default x6 s4 
            section.col.xx12.m6
              h2 在.col 底下的元素顯示間隔並加上*-p
              .col.xx6.s4.xx-center
                .default.x-p x6 s4
              .col.xx6.s4.xx-center
                .default.x-p x6 s4
              .col.xx6.s4.xx-center
                .default.x-p x6 s4
              .col.xx6.s4.xx-center
                .default.x-p x6 s4
              .col.xx6.s4.xx-center
                .default.x-p x6 s4
              .col.xx6.s4.xx-center
                .default.x-p x6 s4
            section.col.xx12.m6
              h2 6種顏色 default primary info success warning danger
              .col.xx6.s4.xx-center.default_font default_font
              .col.xx6.s4.xx-center.primary_font primary_font
              .col.xx6.s4.xx-center.info_font info_font
              .col.xx6.s4.xx-center.success_font success_font
              .col.xx6.s4.xx-center.warning_font warning_font
              .col.xx6.s4.xx-center.danger_font danger_font
              .col.xx6.s4.xx-p.xx-center
                .emptybg.xx-p.default default
              .col.xx6.s4.xx-p.x-center
                .emptybg.xx-p.primary primary
              .col.xx6.s4.xx-p.x-center
                .emptybg.xx-p.info info
              .col.xx6.s4.xx-p.x-center
                .emptybg.xx-p.success success
              .col.xx6.s4.xx-p.x-center
                .emptybg.xx-p.warning warning
              .col.xx6.s4.xx-p.x-center
                .emptybg.xx-p.danger danger
            section.col.xx12.m6
              h2 6種顏色的背景
              .col.xx6.s4.xx-p.x-center.default default
              .col.xx6.s4.xx-p.x-center.primary primary
              .col.xx6.s4.xx-p.x-center.info info
              .col.xx6.s4.xx-p.x-center.success success
              .col.xx6.s4.xx-p.x-center.warning warning
              .col.xx6.s4.xx-p.x-center.danger danger
              .col.xx6.s4
                .x-center.xx-p.default default
              .col.xx6.s4
                .x-center.xx-p.primary primary
              .col.xx6.s4
                .x-center.xx-p.info info
              .col.xx6.s4
                .x-center.xx-p.success success
              .col.xx6.s4
                .x-center.xx-p.warning warning
              .col.xx6.s4
                .x-center.xx-p.danger danger
            .clearfix
            section.col.xx12.m6
              h2 各式標籤
              p 這是一個段落
              p 這是一個
                em 斜體
              p 這是一個
                strong 粗體
              p 這是一個
                del 刪除字體
              p 這是一個
                u 底線
              p 這是一個
                a(href='#') 超連結

                         
